body{
    font-family: 'Open Sans', sans-serif;
    background-color: #E5E5E5;
}

main{
    border-left: 264px solid #E5E5E5;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 33px;

    font-style: normal;
}

.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}
/* title */
.content-title{
    height: 70px;
}

.content-title_left{
    width: 959px;
}

.content-title_left>span{
    margin-left: 50px;

    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.content-title_left>p{
    margin-top: 4px;

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.content-title_left>.imgone{
    position: absolute;
    top: 98px;
    left: 288px;
}

.content-title_left>.imgtwo{
    position: absolute;
    top: 90px;
    left: 280px;
}

.content-title_right{
    text-align: center;
    height: 70px;
}

.content-title_right>img{
    position: relative;
    right: 10px;
    top: 20px
}

.content-title_rightup{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;

    color: #777777;
}

.content-title_rightdown{
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    
    color: #F5831A;
}

/* filter */
#content-filter_searchbox{
    height: 55px;
    margin-right: 40px;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 3px;

    background-color: white;
    padding-top: 17px;
    padding-left: 19px;

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;  
    color: #999999;
}

/* feeds */
.content-feeds_leftside{
    width: 989px;
    height: 355px;
    margin: 0px;

    background-color: white;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.content-feeds_leftside_details{
    width: 450px;
}

#content-feeds_rightside{
    width: 543px;
}

#rightside-cover{
    background-image: url("../images/feeds cover.png");
    height: 138px;
    width: 543px;
}

/*table top*/
.content-table_result{
    font-size: 18px;
    line-height: 25px;
    color: #1C1C1C;
}

.content-table_result>.bold-letter{
    font-weight: 600;
}
#soluong{
    width: 50px;
    margin-bottom: 15px;

    font-size: 15px;
}
/* table */


/*table bottom*/
.content-table_pagenum{
    margin-top: 21px;
}
.content-table_currentpage{
    border: 1px solid #1756C8;
    box-sizing: border-box;
    border-radius: 3px;

    width: 36px;
    height: 36px;

    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}