*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: #E5E5E5;
}

main{
    margin-left: 13%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 33px;

    font-style: normal;
}

.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}

/* title */
.content-title{
    height: 70px;
    margin-bottom: 15px;
}

.content-title_left{
    width: 959px;
}

.content-title_left>span{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.content-title_left>p{
    margin-top: 4px;

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.content-title_left>.imgone{
    position: relative;
    top: -8px;
    left: -31px;
}

.content-title_left>.imgtwo{
    position: relative;
    top: -8px;
    left: 0px;
}

.content-title_right{
    text-align: center;
    height: 70px;
    margin-top: -11px;
    border-left: 1px solid #b6b6b6;
    padding-left: 15px;
}

.separateLine{
    position: absolute;
}

.content-title_rightup{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;

    color: #777777;
}

.content-title_rightdown{
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    
    color: #F5831A;
}

/* filter */
.content-filter_searchIcon{
    position: relative;
    z-index: 1;
    left: 35px;
    top: 17px;

    width: 20px;
    height: 20px;
}

#content-filter_searchbox{
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: white;

    padding-left: 50px;
    margin-left: -10px;
    margin-bottom: 10px;

    height: 55px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;  
    color: #999999;
}

.selector{
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 15px;

    background-color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    border: 1px solid #E1E1E1;
    box-sizing: border-box;
}

.selector>img{
    position: relative;
    left: 40%;
}

.content-filter label{
    text-align: right;
    padding-top: 18px;
}
/* feeds */
.content-feeds{
    margin-top: 30px;
}

.content-feeds_leftside{
    margin: 0px;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    
    background-color: white;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    height: 100%;
}
.content-feeds_leftside_photo{
    width: 50%;
    height: inherit;
}
.content-feeds_leftside_photo img{
    width: 100%;
    height: inherit;
}

.content-feeds_leftside_details{
    width: 50%;
    margin-top: -10px;
}

.special-box{
    background: #46C365;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    margin-top: 10px;
    width: 100%;

    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 24px;
    color: white;
}
.special-time>p{
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
    letter-spacing: -0.02em;
  
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);  
    margin-top: 6px;
    margin-bottom: 4px;
}
.special-time>span{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.02em;
}
.special-booking{
    text-align: right;
}
.special-booking>p{
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
}
.special-booking>span{
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 3px;

    padding-top: 11px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 25px;
}

.content-feeds_rightside{
    width: 100%;
    height: 100%;
    background-color: white;
}
.content-feeds_rightsideup{
    background-color:#E5E5E5;
    padding-bottom: 8px;

    display: inline-block;
    width: 100%;
}
.content-feeds_rightsideup>.one{
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    float: left;
}
.content-feeds_rightsideup>.two{
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #1756C8;

    padding-top: 15px;
    float: right;
}
.rightside-cover{
    background-image: url("../images/feeds cover.png");
    background-size: cover;
    background-color:#E5E5E5;
    height: 138px;
    width: 100%;

    display: inline-block;
}
.time{
    background: #46C365;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 10px 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;

    padding-top: 9px;
    padding-left: 16px;
    padding-bottom: 10px;
    padding-right: 10px;

    position: relative;
    top: 8px;
    left: 20px;
}
.calendar{
    float: right;
    position: relative;
    top:6px;
    right: 20px;
}

/*table top*/
.table-top{
    display: inline-block;
    width: 100%;
}
.content-table_find_result{
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
    color: #1C1C1C;

    margin-top: 25px;
    margin-bottom: 30px;
}
.content-table_find_result>.bold-letter{
    font-weight: 600;
}
#soluong{
    width: 50px;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 15px;
}
.content-table_itemnum{
    float: right;
}


/* table */
.event_item {
    display: inline-block;
    width: 100%;
    height: calc(100% - 30px);
    border-radius: 5px 5px 0 0;

    margin-bottom: 30px;
    background-color: white;
}
.event_item .photo{
    display: inline-block;
    width: 100%;
    border-radius: 5px;
}
.event_body{
    display: inline-block;
    width: 100%;
    padding: 20px 20px 15px;
    
}
.event_body .organization{
    display: inline-block;
    width: 100%;
    position: relative;
}
.event_body .organization .logo {
    width: 50px;
    height: 40px;
    float: left;
}
.event_body .organization .organization_name {
    /* display: inline-block; */
    width: calc(100% - 50px);
    float: left;
    padding-left: 10px;
}
.event_body .organization .organization_name>span {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #666666;
    margin-bottom: 0;
}
.event_body .organization .organization_name>p {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #1756C8;
    margin-bottom: 0;
}
.event_body .organization .ticket {
    position: absolute;
    right: 0;
    top: 0;
}
.event_body .organization .ticket>p{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    margin-bottom: 0px;
    color: #666666;
}
.event_body .organization .ticket>span{
    text-align: right;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: red;
}
.event_body>h1{
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
}
.event_body>.title{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
}
.event_price{
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}
.event_price .price{
    width: calc(100% - 130px);
    padding-right: 10px;
    float: left;
    text-align: right;
}
.event_price .price>span{
    font-weight: 400;
    font-size: 10px;
    line-height: 22px;
    color: #666666;
    margin-bottom: 0px;
}
.event_price .price>p{
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: red;
    margin: 0;
}
.event_price .booking-button{
    background: #1756C8;
    border-radius: 3px;

    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;

    padding-top: 11px; padding-bottom: 11px;
    padding-left: 32px; padding-right: 33px;

    float: right;
}
.event_price .booking-button_no_ticket{
    background: #D8D8D8;
    border-radius: 3px;

    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;

    padding-top: 11px; padding-bottom: 11px;
    padding-left: 32px; padding-right: 33px;

    float: right;
}

/*table bottom*/
.content-table_pagenum{
    text-align: center;
    margin-top: 21px;
    margin-bottom: 20px;
}
.content-table_currentpage{
    border: 1px solid #1756C8;
    box-sizing: border-box;
    border-radius: 3px;

    width: 36px;
    height: 36px;

    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}